body{
  font-family: times new roman;
  background-color: grey;
}
#h{
  float: right;
}
label{
  text-align: center;
}
input{
  display: block;
  text-align: center;
}
a{
  text-decoration: none;
}
#Parentcontactinfo{
  color: 	#E32636;
  text-shadow: #90EE90;
  font-size: 25px;
  font-weight: bold;
  font-family: Helvetica;

width:auto;
}
#Studentregistration{
  color: 	#00FFFF;
  text-align: center;
  text-shadow: #90EE90;
  font-size: 25px;
  font-weight: bold;
  font-family: Helvetica;
}
#student_registration{
  text-align: center;
  font-family: Helvetica;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 1px 2px 2px #FA8072;
  color: #00FFFF;
  width:1200px;
  height: 850px;;
}
label{
  color:black;
}
.comment{
  margin-left:-208px;
}
.Address{
  margin-left:-208px;
}
#ft{
  float: right;
  position:absolute;
  margin-top:-800px;
  display: inline;
}
#kl{
width:400px;
}
#submit{
  text-align:center;
  margin-left:450px;
  margin-top:10px;
  cursor: pointer;
  font-family: times new roman;
  font-size:20px;
  height:30px;
}#submit:hover{
  background:black;
  color:white;
  font-family: times new roman;
  font-size:20px;
  height:30px;
}
h2{
  font-size:30px;
  text-transform: capitalize;
  color:red;
}
h4{

  text-transform: capitalize;
  color:red;
}
footer{
  font-size:48px;
  text-align: center;
  background-color:#E32636;

  margin-top:250px;
}
li{
  color:green;
}
p{
  text-transform: capitalize;
  color:red;}
