#hy{
  color:white;
  font-size: 80px;
  text-transform: capitalize;
  text-align: center;
  background-color:grey;
  font-family: times new roman;
  border:0px;
  text-align: center;
  display:inline;
}
